@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Discover our store</h1>
    <p>All your desires in one place</p>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/iphone-16-pro-finish-select-202409-6-3inch-naturaltitanium.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 16 Pro</h5>
                        <p class="card-text">
                            128GB
                            Natural Titanium
                        </p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/iphone-16-pro-finish-select-202409-6-3inch-deserttitanium.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 16 Pro</h5>
                        <p class="card-text">
                            512GB
                            Desert Titanium
                        </p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/iphone-16-pro-finish-select-202409-6-3inch-blacktitanium.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 16 Pro</h5>
                        <p class="card-text">
                            256GB
                            Black Titanium
                        </p>
                        <a href="#" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
